{% extends 'layout.html.twig' %}

{% block content %}
<div class="logo-container">
  <a href="/"><img class="logo" style="width: 100px" src="assets/images/logo.png"></a>
</div>


<form method="post">
<div class="card glass home">
  <div class="brand-logo">
  </div>
        <p> Les meilleurs professeurs sont ceux que vous choisissez ! </p>
  <div class="inputs glass">
    <section id="header-container">
    <label for="instrument" class="instrument">Instrument</label>
    <select id="instrument" name="instrument" placeholder="example@test.com" />
    {% for user in users %}
        <option name={{user.instrument}} value={{user.instrument}}>{{user.instrument|capitalize}}</option>
    {% endfor %}
    </select>
    <br>
    <label for="address" >Ville</label>
    <select id="address" name="address" placeholder="6 rue de saint brice" />
    
    {% for user in users %}
        <option name={{user.address}} value={{user.address}}>{{user.address|capitalize}}</option>
    {% endfor %}
    </select>
    <br>
    <div class="element"></div>
    <button id="search" type="submit">Chercher</button>
</form>
    </section>
  </div>
</div>
 {% endblock %}
