{% extends 'layout.html.twig' %}

{% block content %}

<div class="card">
  <div class="brand-logo"></div>
  <div class="brand-title">MeetSing</div>
  <div class="inputs">
    <label>Instrument</label>
    <form method="post">
    <section id="header-container">
    <select name="instrument" placeholder="example@test.com" />
    {% for user in users %}
        <option name={{user.instrument}} value={{user.user}}>{{user.instrument}}</option>
    {% endfor %}
    </select>
    </section>
    </div>
        <section id="header-container">
    <select name="address" placeholder="6 rue de saint brice" />
    {% for user in users %}
        <option name={{user.address}} value={{user.address}}>{{user.adress}}</option>
    {% endfor %}
    </select>
    </section>
    <button type="submit">Chercher</button>
  </div>
</div>

</form>
 {% endblock %}
