{% extends 'layout.html.twig' %}

{% block content %}
<div class="logo-container">
  <img class="logo" style="width: 100px" src="assets/images/logo.png">
</div>
<div class="card glass home">
  <div class="brand-logo">
  </div>

    {# Intro #}
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eleifend sodales laoreet. Aenean a ante sagittis, tincidunt turpis interdum, aliquet risus. Nulla facilisi. Phasellus ac erat est. Fusce at rhoncus tellus. Fusce porta eros risus, vel aliquet arcu luctus et. Sed in nibh in dolor bibendum maximus at ultricies ex. </p>

    {# Form #}
  <div class="inputs glass">
    <label>Instrument</label>
    <form method="post">
    <select name="instrument" placeholder="example@test.com" />
    {% for instrument in users %}
        <option name={{instrument.instrument_name}} value={{instrument.instrument_name}}>{{instrument.instrument_name}}</option>
    {% endfor %}
    </select>
    <br>
    <label></label>
      <select name="address" placeholder="example@test.com" />
    {% for user in users %}
        <option name={{user.address}} value={{user.address}}>{{user.address}}</option>
    {% endfor %}
    </select>
    <br>
    <button type="submit">Chercher</button>
  </div>
</div>
</form>
 {% endblock %}
