{% extends 'layout.html.twig' %}

{% block content %}
<div class="logo-container">
  <img class="logo" style="width: 100px" src="assets/images/logo.png">
</div>
<div class="card glass home">
  <div class="brand-logo">
  </div>

    {# Intro #}
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eleifend sodales laoreet. Aenean a ante sagittis, tincidunt turpis interdum, aliquet risus. Nulla facilisi. Phasellus ac erat est. Fusce at rhoncus tellus. Fusce porta eros risus, vel aliquet arcu luctus et. Sed in nibh in dolor bibendum maximus at ultricies ex. </p>

    {# Form #}
  <div class="inputs glass">
    <label>Instrument</label>
    <form method="post">
    <section id="header-container">
    <select name="instrument" placeholder="example@test.com" />
    {% for user in users %}
        <option name={{user.instrument}} value={{user.user}}>{{user.instrument}}</option>
    {% endfor %}
    </select>
    <br>
    <label></label>
      <select name="address" placeholder="example@test.com" />
    </section>
    </div>
        <section id="header-container">
    <select name="address" placeholder="6 rue de saint brice" />
    {% for user in users %}
        <option name={{user.address}} value={{user.address}}>{{user.adress}}</option>
    {% endfor %}
    </select>
    <br>
    </section>
    <button type="submit">Chercher</button>
  </div>
</div>

</form>
 {% endblock %}
