{% extends 'layout.html.twig' %}

{% block content %}

<form method="post">
  {{ parent() }}
<div class="card glass home">
  <div class="brand-logo">
  </div>
        <p> Les meilleurs professeurs sont ceux que vous choisissez ! </p>
  <div class="inputs glass">
    <section id="header-container">
    <label for="instrument">Instrument</label>
    <select id="instrument" name="instrument" placeholder="example@test.com" />
    {% for user in users %}
        <option name={{user.instrument}} value={{user.instrument}}>{{user.instrument}}</option>
    {% endfor %}
    </select>
    <br>
    <label for="address" >Address</label>
    <select id="address" name="address" placeholder="6 rue de saint brice" />
    {% for user in users %}
        <option name={{user.address}} value={{user.address}}>{{user.adress}}</option>
    {% endfor %}
    </select>
    <br>
    <div class="element"></div>
    <button id="search" type="submit">Chercher</button>
</form>
    </section>
  </div>
</div>
 {% endblock %}
