{% extends 'layout.html.twig' %}

{% block content %}

	{% for user in users %}
		
{% for user in users %}
  {% set counter = ( counter | default(0) ) + 1 %}
{% endfor %}

	<div class="section over-hide">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section text-center py-5 py-md-0">
			          	<input class="pricing" type="checkbox" id="pricing" name="pricing"/>
			          	<label for="pricing"><span class="block-diff" style="float: right">Contact</span><span style="float: left">Détails</span></span></label>
						
						<p> 1 professeur de {{user.instrument_name}} disponible à {{user.address}} </p>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="pricing-wrap">
										<h4 class="mb-5">
											<a href="/"><img class="logo-profile" style="width: 100px" src="assets/images/logo.png"></a>{{user.name}}</h4>
										<h3 class="mb-4" style="text-align:center">Professeur de {{user.instrument_name}}</h3>
										<h2 class="mb-2"><sup></sup>{{user.prices}}<sup>€</sup><sup>/hr</sup></h2>
										<p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
										<div class="card-img img-wrap">
											<img src="https://cloudinary-a.akamaihd.net/hopwork/image/upload/h_440,w_440,c_thumb,g_face,z_0.4,f_auto/no4yngik168h3lpue2ij.webp" alt="">
										</div>
			      					</div>
			      				</div>
								<div class="card-back">
									<div class="pricing-wrap">
										<h4 class="mb-5">
											<a href="/"><img class="logo-profile" style="width: 100px" src="assets/images/logo.png"></a>{{user.name}}</h4>
										<h2 class="mb-2" style="font-size: 1rem"><sup></sup>{{user.email}}</h2>
										<p class="mb-2">{{user.description}}</p>
										<p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
										<p class="mb-4">{{user.phone}}</p>
										<div class="card-img img-wrap">
											<img src="https://cloudinary-a.akamaihd.net/hopwork/image/upload/h_440,w_440,c_thumb,g_face,z_0.4,f_auto/no4yngik168h3lpue2ij.webp" alt="">
										</div>
										<button id="search" type="submit">Me contacter</button>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>

	{% endfor %}

	{% endblock %}