{% extends 'layout.html.twig' %}

{% block content %}
<div class="logo-container search-logo">
    <a href="/"><img class="logo" style="width: 100px" src="assets/images/logo.png"></a>
</div>

{% set counter = 0 %}
{% for user in users %}
{% set counter = ( counter | default(0) ) + 1 %}
{% endfor %}
    <div class="glass search all-card-container">
        {% for user in users %}
        <a href="/profile?id={{user.id}}">
        <div class="wrapper card-z2">
    <div class="img-area">
      <div class="inner-area">
        <img src="{{user.photo}}" alt="">
      </div>
    </div>
    <div class="icon dots"></div>
    <div class="name">{{user.name}}</div>
    <div class="about" style="font-size:30px">Professeur de {{user.instrument_name}}</div>
    <div class="social-icons">
    </div>
    <div class="buttons">
      <button>Voir le profil</button>
    </div>
    <div class="social-share">
      <div class="row">
        <span style="color: white" class="advice"><i style="color: orange" class="fa fa-star" aria-hidden="true"></i> <i style="color: orange" class="fa fa-star" aria-hidden="true"></i><i style="color: orange" class="fa fa-star" aria-hidden="true"></i><i style="color: orange" class="fa fa-star" aria-hidden="true"><i style="color: orange" class="fas fa-star" aria-hidden="true"></i></i>  (65)</span>
      </div>

      <div class="row">
        <span>{{user.prices}} € / h</span>
      </div>
    </div>
  </div>
        {% endfor %}
        </a>
    </div>
    
  
 {% endblock %}
